$bg-main:#0B1839;
$sidebar-bg:#090757;
$big-box-bg: #160A65; 
$value-box-bg: #110F98;

$color-primary:#93ec1e;
$color-secondary: #2fcf13;

$input-range-bg : #3354AA;
$slider-thumb-color: #33C6F4;
$slider-thumb-shadow-color: #13ECEC;