@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');
@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $bg-main;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: white;
}



.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0  auto;
    min-height: 65vh;
    // flex-direction: column;
}

//NAVIGATION

.navigation,.css-output{
    width:30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    ul{
        list-style: none;
    }

    li{
        width: 250px;
        height: 60px;
        margin: 50px 0;
        border: 3px solid $color-secondary;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 5px hsla(111, 83%, 44%, 0.25);
    }



    a{  
        position: relative;
        text-decoration: none;
        color: $color-primary;
        font-weight: 400;
        display: flex;
        align-items: center;
        padding: 0 15px;
        width: 100%;
        height: 100%;
    }

    a::before{
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        // background: $color-primary;
        top: 50%;
        right: 5%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        // box-shadow: 0px 0px 4px #C212B1;
    }

    a.router-link-exact-active::before{
        animation: blink 1.5s ease-in-out infinite;
    }
    
}

//TRANSFORM

.transform-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 35rem;
    background: $big-box-bg;
    overflow: hidden;

    .transform-element{
        position: relative;
        width: 15rem;
        height: 15rem;
        background: $color-primary;


    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        background: darken($color-primary, 5);

    }
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 50%;
        background: darken($color-primary, 5);

    }
    }

}

.css-output {
    pre{
        color: white;
    }
}





@keyframes blink{
    0%{
        box-shadow: 0px 0px 10px 5px rgba(147, 236, 30, 0);
        background: rgba(147, 236, 30, 0);
    }
    100%{
        box-shadow: 0px 0px 10px 5px rgba(147, 236, 30, 0.45);
        background: rgb(147, 236, 30);
    }

}